.skills-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 0;
  padding-bottom: calc(var(--vw) * 5.5);
}

/* Cloud Wrap - Global */
.skills-wrapper .cloudBorderWrap {
  position: absolute; 
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

/* Cloud Wrap - Top */
.skills-wrapper .cloudBorderWrap.top {
  top: calc(var(--vw) * -6.6);
  z-index: -1;
}
/* Cloud Wrap - Bottom */
.skills-wrapper .cloudBorderWrap.bottom {
  bottom: calc(var(--vw) * -11);
}
/* Cloud Image - Top */
.skills-wrapper .cloudBorderTop {
  position: relative;
  width: 170%;
  left: -24%;
}
/* Cloud Image - Bottom */
.skills-wrapper .cloudBorderBottom {
  position: relative;
  width: 137%;
  left: 0%;
}

.skills-wrapper .skills-icons-wrapper {
  width: 100%;
  padding: 0 calc(var(--vw) * 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.skills-wrapper .skills-icon {
  width: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.skills-wrapper .skills-icon .image-wrapper {
  max-width: 100%;
  height: calc(var(--vw) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--vw) * 1.75);
}
.skills-wrapper .skills-icon .image {
  max-width: 100%;
  max-height: 100%;
}
.skills-wrapper .skills-icon p {
  font-size: calc(var(--vw) * 1.1);
  margin-bottom: calc(var(--vw) * 1);
}

@media (max-width: 768px) {

  .skills-wrapper .skills-icons-wrapper {
    display: block;
    padding: 0;
  }
  .skills-wrapper .skills-icons-wrapper .slick-slide {
    width: calc(var(--vw) * 24);
    margin-left: calc(var(--vw) * 3);
    margin-right: calc(var(--vw) * 0);
    padding: 0 calc(var(--vw) * 3);
  }
  .skills-wrapper .skills-icons-wrapper .skills-icon {
    width: 23.75%;
    margin-bottom: calc(var(--vw) * 6);
  }
  .skills-wrapper .skills-icons-wrapper .skills-icon .image-wrapper {
    height: calc(var(--vw) * 27);
    margin-bottom: calc(var(--vw) * 3);
  }   
  .skills-wrapper .skills-icons-wrapper .skills-icon .image-wrapper .image {
    max-width: calc(var(--vw) * 30);
    max-width: 100%;
  }

  .skills-wrapper .skills-icons-wrapper .skills-icon p {
    margin-bottom: calc(var(--vw) * 1);
    font-size: calc(var(--vw) * 3.75);
  }

  .skills-wrapper .skills-icons-wrapper .slick-arrow {
    margin-top: 0;
    height: calc(var(--vw) * 6);
    width: calc(var(--vw) * 6);
    top: auto;
    bottom: calc(var(--vw) * 0);
    border-radius: 50%;
  }
  .skills-wrapper  .skills-icons-wrapper .slick-prev {
    z-index: 1;
    left: calc(var(--vw) * 18);
    right: auto;
    transform: rotate(-135deg);
  }
  .skills-wrapper  .skills-icons-wrapper .slick-next {
    left: auto;
    right: calc(var(--vw) * 18);
    transform: rotate(45deg);
  }
  .skills-wrapper .skills-icons-wrapper .slick-prev:before,
  .skills-wrapper .skills-icons-wrapper .slick-next:before {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: calc(var(--vw) * .6) calc(var(--vw) * .6) 0 0;
    width: calc(var(--vw) * 3.8);
    height: calc(var(--vw) * 3.8);
    color: #000000;
  }
  .skills-wrapper .skills-icons-wrapper .slick-list .slick-track {
    left: calc(var(--vw) * 5);
  }
}