.hero-component {
	padding: calc(var(--vw)*8) calc(var(--vw)*2) 0 calc(var(--vw)*2);
}
.hero-component	.text-wrapper {
	position: relative;
	z-index: 1;
	text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-component	.text-wrapper h2 {
	font-size: calc(var(--vw)*4);
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-component	.text-wrapper h2 img {
	width: calc(var(--vw)*45);
	margin-top: calc(var(--vw)*1);
}
.hero-component	.cta-no-button {
	margin-top: calc(var(--vw)*1.2);;
}
.hero-component .hero-img {
	width: 100%;
	margin-top: calc(var(--vw)*-16);
}
@media only screen and (min-width:48em){
  .hero-component .hero-top-img {
    display: none;
  }
}
@media only screen and (max-width:48em){
  .hero-component {
		overflow: hidden;
		position: relative;
    padding: calc(var(--vw)*18) 0 0 0;
  }
  .hero-component .hero-top-img {	
		display: block;
		position: absolute;
		width: calc(var(--vw) * 113);
		margin: calc(var(--vw) * -23) calc(var(--vw) * 0) calc(var(--vw) * 1) calc(var(--vw) * -7.2);
		max-width: none;					
  }
	.hero-component	.text-wrapper {
		position: relative;
    z-index: 1;
    padding-top: calc(var(--vw) * 1);
	}
	.hero-component	.text-wrapper h2 {
		font-size: calc(var(--vw)*7);
	}
	.hero-component	.text-wrapper h2 img {
		width: calc(var(--vw)*82);
		margin-top: calc(var(--vw)*3.5);
		position: relative;
		z-index: 0;
	}
	.hero-component	.text-wrapper p {
		margin: calc(var(--vw)*1.8) auto;
	}
	.hero-component .hero-img {
		margin-top: calc(var(--vw)*-25);
	}
}