.toggle-scene {
  overflow: visible !important;
  position: absolute;
  top: calc(var(--vw) * -1.4);
  right: calc(var(--vw) * -7);
  width: calc(var(--vw) * 4.5);
}
.toggle-scene__cord {
	stroke: var(--cord);
	cursor: move;
}
.toggle-scene__cord:nth-of-type(1) {
	display: none;
}
.toggle-scene__cord:nth-of-type(2), .toggle-scene__cord:nth-of-type(3), .toggle-scene__cord:nth-of-type(4), .toggle-scene__cord:nth-of-type(5) {
	display: none;
}
 .toggle-scene__cord-end {
	stroke: var(--cord);
	fill: var(--cord);
}
.toggle-scene__dummy-cord {
	stroke-width: 6;
	stroke: var(--cord);
}
.bulb__filament {
	stroke: var(--filament);
}
.bulb__shine {
	stroke: var(--shine);
}
.bulb__flash {
	stroke: #f5e0a3;
	display: none;
}
.bulb__bulb {
	stroke: var(--stroke);
	fill: hsla(calc(180 - (95 * var(--on))), 80%, 80%, calc(0.1 + (0.4 * var(--on))));
}
.bulb__cap {
	fill: var(--cap);
}
.bulb__cap-shine {
	fill: var(--shine);
}
.bulb__cap-outline {
	stroke: var(--stroke);
}

@media only screen and (max-width:48em) {
  .toggle-scene {
    top: calc(var(--vw) * -3);
    right: calc(var(--vw) * 9.5);
    width: calc(var(--vw) * 17.5);
  }
}