.brands-wrapper {
  background: #f5f5f5;
  padding: calc(var(--vw) * 5) 0;
}
.brands-wrapper .subcopy {
  text-align: center;
  max-width: calc(var(--vw) * 65);
  margin: 0 auto calc(var(--vw) * 3.2) auto;
  line-height: 1.5;
  font-size: calc(var(--vw) * 1.3);
}
.brands-wrapper .brand-logos-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.brands-wrapper .brand-logos-wrapper .brand-wrap {
  width: 100%;
  max-width: 84%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .image-wrapper {
  height: calc(var(--vw) * 7.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 calc(var(--vw) * 2.2) calc(var(--vw) * .8) calc(var(--vw) * 2.2);
  max-width: calc(var(--vw) * 14.25);
  max-width: calc(var(--vw) * 14.25);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap img {
  max-width: 100%;
  max-height: 100%;
}

.brands-wrapper .brand-logos-wrapper .brand-wrap .caboodles {
  max-height: calc(var(--vw) * 6.25);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .disney {
  margin-top: calc(var(--vw) * .2);
  max-height: calc(var(--vw) * 4.4);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .hk {
  margin-top: calc(var(--vw) * .75);
  max-height: calc(var(--vw) * 3.4);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .lionsgate {
  padding-top: calc(var(--vw) * 0);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .mgm {
  margin-top: calc(var(--vw) * .9);
  max-height: calc(var(--vw) * 4.2);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .paramount {
  max-height: calc(var(--vw) * 7);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .peanuts {
  max-height: calc(var(--vw) * 4.2);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .pusheen {
  max-height: calc(var(--vw) * 2.9);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .squishmallows {
  max-height: calc(var(--vw) * 6);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .universal {
  padding-top: calc(var(--vw) * 0.7);
}
.brands-wrapper .brand-logos-wrapper .brand-wrap .zondervan {
  padding-top: calc(var(--vw) * 0.2);
}
@media (max-width: 768px) {
  .brands-wrapper {
    padding: calc(var(--vw) * 15) 0;
  }
  .brands-wrapper .subcopy {
    font-size: calc(var(--vw) * 3.8);
    max-width: calc(var(--vw) * 84);
    margin-bottom: calc(var(--vw) * 10.5);
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap {
    flex-wrap: wrap;
    max-width: 90%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .image-wrapper {
    width: 42%;
    max-width: none;
    height: auto;
    max-height: none;
    margin-bottom: calc(var(--vw) * 7.5);
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .disney img {
    width: 85%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .universal img {
    width: 90%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .paramount img {
    width: 69%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .mgm img {
    width: 80%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .lionsgate img {
    width: 89%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .peanuts img {
    width: 91%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .hk img {
    width: 92%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .pusheen img {
    width: 75%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .squishmallows img {
    width: 89%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .caboodles img {
    width: 68%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .harper img {
    width: 90%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .pureflix img {
    width: 66%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .zondervan img {
    width: 91%;
  }
  .brands-wrapper .brand-logos-wrapper .brand-wrap .jg img {
    width: 89%;
  }

}