.hero-wrapper {
  width:100%;
  height:100%;
  background:#111b29;
  font-family: 'Montserrat', sans-serif;
  font-size:99px;
  text-align:center;
}

.scrollDist {
  position:absolute;
  top: 0;
  width: 100%;
  height: 200%;
}

.hero-parallax {
  position: relative;
  /* position:fixed; */
  /* background:#fff; */
  top:0;
  left: 0;
  padding: 0;

  background-color: black;
}

.hero-parallax .layer_1,
.hero-parallax .layer_2,
.hero-parallax .layer_3 {
  /* width: 100%; */
  /* transform: translate(-50, -50) scale(1.5); */
}
.hero-parallax text {
  font-size: calc(var(--vwFW) * 4);
  margin-right: calc(var(--vwFW) * 1);
}
.hero-parallax text tspan {
  font-weight: 700;
}

.hero-parallax .skills {
  font-weight: 700;
}




@media only screen and (min-width:75em) {
  /* .hero-parallax .layer_1,
  .hero-parallax .layer_2,
  .hero-parallax .layer_3 {
    
  } */
}

/* @media (max-width: 768px) {
  .hero-parallax .layer_1,
  .hero-parallax .layer_2,
  .hero-parallax .layer_3 {
    transform: scale(2.5);
  }
  .hero-wrapper svg {
    height: 450px;
    width: 100%;
  }
} */
