.hero-wrapper {
  width:100%;
  height:100%;
  background:#111b29;
  font-family: 'Montserrat', sans-serif;
  font-size:99px;
  text-align:center;
}

.scrollDist {
  position:absolute;
  top: 0;
}

.hero-parallax {
  position:fixed;
  background:#fff;
  width:100%;

  top:0;
  left: 0;
  padding: 0;
}

.scrollDist {
  width:100%;
  height:200%;
}
.hero-parallax .layer_1,
.hero-parallax .layer_2,
.hero-parallax .layer_3 {
  width: 100%;
  translate: calc(var(--vwFW) * -21);
  transform: scale(1.5);
}
