.marquee-section {
  position: relative;
  min-height: calc(var(--vw)*3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.marquee-section, .marquee-section * {
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
}

.marquee-div {
  position: absolute;
  animation-name: move-right-to-left;
  animation-duration: 140s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: calc(var(--vw)*1) 0;
}
.marquee-div-2 {
	opacity: 0;
  position: absolute;
  animation-name: move-right-to-left;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: calc(var(--vw)*1) 0;
}
.marquee-div p span{
  margin: 0 calc(var(--vw)*.8);
}

@media only screen and (max-width:48em){
	.marquee-section {
	  min-height: calc(var(--vw)*8);
	}
}

/* use this one to move from right to left direction */
@keyframes move-right-to-left {
  from {
    transform: translateX(40%);
  }
  to {
    transform: translateX(-40%);
  }
}
/* Marquee End */


/* Steps Wrapper Start */
.steps-wrapper {
	overflow: hidden;
	padding: calc(var(--vw)*10) 0 0 0;
}
.steps-wrapper .headline-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--vw)*10);
}
.steps-wrapper .headline-wrap .number-wrapper {
	position: relative;
	background: var(--cclubDarkBlue);
	border-radius: calc(var(--vw)*50);
	margin: 0 0 calc(var(--vw)*1.2) 0;
  height: calc(var(--vw)*6.154);
  width: calc(var(--vw)*6.154);
	display: flex;
	justify-content: center;
	align-items: center;
}
.steps-wrapper .headline-wrap .number {
	position: absolute;
	color: #ffffff;
	margin-bottom: calc(var(--vw)*.7);
}
.steps-wrapper .headline-wrap p {
	margin-bottom: calc(var(--vw)*4);
}
.steps-wrapper .step-1 {
	position: relative;
}
.steps-wrapper .pencil-left,
.steps-wrapper .pencil-right {
	position: absolute;
  top: calc(var(--vw)*5);
  width: calc(var(--vw)*45);
}
.steps-wrapper .pencil-left {
  left: calc(var(--vw)*-7);
}
.steps-wrapper .pencil-right {
  right: calc(var(--vw)*-7);
}
.steps-wrapper .glasses-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-left: calc(var(--vw)*-4);
	margin-top: 0;
}
.steps-wrapper .glasses-wrapper #glasses-trigger-1 {
	position: absolute;
	top: calc(var(--vw)*-20);
}
.steps-wrapper .glasses-wrapper #glasses-trigger-2 {
	position: absolute;
	top: calc(var(--vw)*-18);
}
.steps-wrapper .glasses-wrapper #glasses-trigger-3 {
	position: absolute;
	top: calc(var(--vw)*-16);
}
.steps-wrapper .glasses-wrapper #glasses-trigger-4 {
	position: absolute;
	top: calc(var(--vw)*-14);
}
.steps-wrapper .glasses-wrapper #glasses-trigger-5 {
	position: absolute;
	top: calc(var(--vw)*-12);
}
.steps-wrapper .glasses-wrapper #glasses-trigger-6 {
	position: absolute;
	top: calc(var(--vw)*-10);
}

.steps-wrapper .glasses-wrapper .glasses {
	width: calc(var(--vw)*18);
	position: relative;
}
.steps-wrapper .step-3 .headline-wrap {
	width: 100%;
	margin-bottom: 0;
}
.steps-wrapper .step-3 .headline-wrap a {
	z-index: 1;
}
.steps-wrapper .step-3-img {
	width: 100%;
	margin-top: calc(var(--vw)*-7);
	position: relative;
	z-index: 0;
}
.steps-wrapper .post-step p {
	white-space: nowrap;
	margin: 0;
}
.steps-wrapper .post-step .repeat-wrapper {
	position: relative;
	margin-top: calc(var(--vwFW)*-0.6);
}
.steps-wrapper .post-step .repeat-wrapper p span{
	color: var(--cclubDarkBlue);
	font-size: calc(var(--vwFW)*7.2);
	font-weight: 900;
	line-height: .7;
}

.steps-wrapper .post-step .repeat-wrapper .line-3 {
	margin-bottom: calc(var(--vwFW)*-.3);
}
.steps-wrapper .post-step .cta-wrapper {
	position: absolute;
	width: 100%;
	margin-top: calc(var(--vw)*-2);
	z-index: 2;
}
@media only screen and (max-width:48em){
	.steps-wrapper {
		overflow: hidden;
		padding: calc(var(--vw)*18) 0 0 0;
	}
	.steps-wrapper .headline-wrap {
		margin-bottom: calc(var(--vw)*20);
	}
	.steps-wrapper .headline-wrap .number-wrapper {
	  height: calc(var(--vw)*14.144);
	  width: calc(var(--vw)*14.144);
	  margin-bottom: calc(var(--vw)*3);
	}
	.steps-wrapper .headline-wrap .number {
		font-size: calc(var(--vw)*8.8);
		margin-bottom: calc(var(--vw)*1.5) !important;
	}
	.steps-wrapper .headline-wrap p {
		margin: calc(var(--vw)*1.75) auto calc(var(--vw)*1.8) auto;
	}
	.steps-wrapper .pencil-left,
	.steps-wrapper .pencil-right {
    top: calc(var(--vw)*-2);
    height: calc(var(--vw)*35);
    width: auto;
	}
	.steps-wrapper .pencil-left {
	  left: calc(var(--vw)*-129);
	}
	.steps-wrapper .pencil-right {
	  right: calc(var(--vw)*-129);
	}
	.steps-wrapper .glasses-wrapper {
		margin-top: calc(var(--vw)*5);
	}
	.steps-wrapper .glasses-wrapper .glasses {
		width: calc(var(--vw)*65);
	}
	.steps-wrapper .step-3-img {
		margin-top: 0;
	}
	.steps-wrapper .step-3 picture {
		width: 100%;
	}
	.steps-wrapper .step-3 .headline-wrap {
		padding: 0;
	}
	.steps-wrapper .post-step .repeat-wrapper {
		margin-top: calc(var(--vwFW)*-0.4);
	}
	.steps-wrapper .post-step .repeat-wrapper .line-3 {
		margin-bottom: calc(var(--vwFW)*-1.2);
	}
	.steps-wrapper .post-step .cta-wrapper {
		margin-top: calc(var(--vw)*-5);
	}
}

/* ScrollMagic Animations Start */
.glasses {
	opacity: 0;
	-webkit-transform: scale(0.9);
		 -moz-transform: scale(0.9);
			-ms-transform: scale(0.9);
			 -o-transform: scale(0.9);
					transform: scale(0.9);
	-webkit-transition: all 1s ease-in-out;
		 -moz-transition: all 1s ease-in-out;
			-ms-transition: all 1s ease-in-out;
			 -o-transition: all 1s ease-in-out;
					transition: all 1s ease-in-out;
}
.visible {
	opacity: 1;
	-webkit-transform: none;
		 -moz-transform: none;
			-ms-transform: none;
			 -o-transform: none;
					transform: none;
}
/* ScrollMagic Animations End */